*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.main-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 243px;
    background: black;
}

.main-banner > img{
    width: 100%;
    height: 100%;
    max-width: 1296px;
}

#add-content-btn{
    width: 65px;
    cursor: pointer;
}

.container{
    height: calc(100% - 243px);
    padding: 48px 24px;
}

.btn-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-area .btn{
    flex: 1;
}

.table-responsive{
    max-height: calc(100% - 40px);
    overflow-y: auto;
}

#board-table thead{
    position: sticky;
    top: 0;
}

#board-table tr:hover{
    cursor: pointer;
    font-weight: bold;
}

#pagenation-area{
    display: flex;
    justify-content: center;
}